.App {
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px minmax(500px, 700px) 100px;
}

.Grid {
    grid-column-start: 2;
    grid-row-start: 2;
}
